/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    background: #e5e7eb;
    position: relative;
    display: flex;
}

/* sidebar */
#menu {
    background: #111827;
    width: 300px;
    height: 200%;
    position: fixed;
    top: 0;
    left: 0;
}

#menu .logo {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px 0 0 30px;
}

#menu .logo h2 {
    font-size: 15px;
}

#menu .logo img {
    width: 40px;
    margin-right: 15px;
}

#menu .items {
    margin-top: 30px;
}

#menu .items li {
    list-style: none;
    padding: 13px 0;
    transition: 0.3s ease;
}

#menu .items li:hover {
    background: #253047;
    cursor: pointer;
}

#menu .items li.active {
    border-left: 4px solid #fff;
}

#menu .items li i {
    color: rgb(134, 141, 151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}

#menu .items li:hover i,
#menu .items li:hover a {
    color: #f3f4f6;
}

#menu .items li a {
    text-decoration: none;
    color: rgb(134, 141, 151);
    font-weight: 300px;
    transition: 0.3s ease;
}

/* Navbar */
#interface {
    width: calc(100% - 300px);
    margin-left: 300px;
    position: relative;
}

#interface .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #594ef7;
    position: fixed;
    width: calc(100% - 300px);
    z-index: 100;
}

#interface .navigation .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #d7dbe6;
    border-radius: 4px;
}

#interface .navigation .search i {
    margin-right: 14px;
}

#interface .navigation .search input {
    border: none;
    outline: none;
    font-size: 14px;
}

#interface .navigation .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#interface .navigation .profile i {
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}

#interface .navigation .profile img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.n1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#menu-btn {
    color: #2b2b2b;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.i-name {
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 70px;
}

.values {
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.values .val-box {
    background: lightblue;
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.values .val-box i {
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 15px;
}

.values .val-box:nth-child(1) i {
    background: #7b74ec;
}

.values .val-box:nth-child(2) i {
    background: #5c8af0;
}

.values .val-box:nth-child(3) i {
    background: #e45d99;
}

.values .val-box:nth-child(4) i {
    background: #74daec;
}

.values .val-box h3 {
    font-size: 18px;
    font-weight: 600;
}

.values .val-box span {
    font-size: 15px;
    color: #828997;
}

/* Table */
.board {
    width: 94%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
}

.board .gambar {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.board h5 {
    font-weight: 600;
    font-size: 14px;
}

.board p {
    font-weight: 400;
    font-size: 13px;
    color: #787d8d;
}

.board .people {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #eef0f3;
}

thead td {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background: #f9fafb;
    text-align: start;
    padding: 15px;
}

tbody tr td {
    padding: 10px 15px;
}

.aktif p {
    background: #d7fada;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}

.aksi a {
    text-decoration: none;
    font-size: 14px;
    color: #554cd1;
    font-weight: 600;
}

/* Extra */
.row.justify-content-center {
    width: 100%;
}

/* Responsive */
@media (max-width: 769px) {
    #menu {
        width: 270px;
        position: fixed;
        left: -270px;
        transition: 0.3s ease;
    }
    #menu.active {
        left: 0px;
    }
    #interface {
        width: 100%;
        margin-left: 0px;
        display: inline-block;
        transition: 0.3s ease;
    }
    #menu.active ~ #interface {
        width: calc(100% - 270px);
        margin-left: 270px;
        transition: 0.3s ease;
    }
    #interface .navigation {
        width: 100%;
    }
    .values {
        padding: 30px 30px 0 30px;
        justify-content: flex-start;
    }
    .values .val-box {
        padding: 16px 20px;
        margin: 10px 20px 10px 0;
    }
    .board {
        width: 92%;
        padding: 0;
        overflow-x: auto;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
}

/* Responsive phone */
@media (max-width: 477px) {
    #interface .navigation {
        padding: 15px;
    }
    #interface .navigation .search input {
        width: 150px;
    }
    .i-name {
        padding: 30px 15px 0 15px;
    }
    .values {
        padding: 15px 15px 0 15px;
    }
    .values .val-box {
        width: 100%;
        margin: 8px 0;
    }
    .board {
        margin: 30px 15px 30px 15px;
    }
}

/* Tulisan */
.btn-info,
.btn-warning {
    color: white !important;
}
